# dependencies
node_modules

# build output
dist/
coverage/

# yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# env
.env
.env.*.local

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp